framework auto-detect

source https://www.nuget.org/api/v2

nuget Funcky ~> 1.0
nuget JetBrains.Annotations ~> 2018.2
nuget Messerli.Utility ~> 0.1
nuget Messerli.ServerCommunication ~> 0.1
nuget Messerli.QueryProvider ~> 0.1
nuget NSubstitute ~> 4.0
nuget RichardSzalay.MockHttp ~> 5.0
nuget Soltys.ChangeCase ~> 1.6
